page {
  background-color: #2c2f35;
  color: #c3c5cb;
}

.invest-add-page {
  .fa-btc {
    color: #f8a80b;
    font-size: 60px;
  }

  .card1 {
    background-color: #212429;
    border-radius: 30px;
    padding: 16px;
  }
  .item {
    border-radius: 20px;
    border: 1px solid #2c2f36;
    background-color: #212429;
    padding: 12px 16px;
  }
  .label {
    font-size: 14px;
  }
  .btn-freq {
    background-color: #f8a80b;
    color: white;
  }
  .btn-submit {
    border-radius: 12px;
    background-color: #f8a80b;
    color: white;
  }

  .tip {
    color: #c3c5cb;
    font-size: 14px;
  }
}
